.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.footer {
    background-color: rgb(182, 84, 77);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(172, 65, 51); 
    color: rgb(255, 244, 240) 
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 30px 0px 0px 0px;
    z-index: 0;
}

.navbar-light {
    background-color: orangered;
}

.btn-social-icon:hover {
    background-color: red;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute:
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-caption {
    margin-left: 200px;
    margin-bottom: 40px;
}

.carousel-indicators {
    margin-left: 350px;
}
